// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* Using Sass nesting */
// #news {
//   .article {
//     .title {
//       color: blue;
//     }
//   }
// }

// /* or standard CSS */
// #news .article .title {
//   color: blue;
// }

.news.index {
  background: yellow;

  .article {
    padding: 20px;
    border: 1px solid black;

    .title {
      color: blue;
    }
  }
}